/* Orders */
.order-one {
	left: -20%;
	top: 5%;
}

.order-two {
	left: -25%;
	top: 25%;
}

.order-three {
	left: -25%;
	top: 55%;
}

.order-four {
	left: -16%;
	bottom: 12.5%;
}

.order-five {
	left: 30%;
	bottom: -5%;
}

.order-six {
	right: -16%;
	bottom: 12.5%;
}

.order-seven {
	right: -25%;
	top: 55%;
}

.order-eight {
	right: -25%;
	top: 25%;
}

.order-nine {
	right: -20%;
	top: 5%;
}

.order-one,
.order-two,
.order-three,
.order-four,
.order-five {
	padding-left: var(--padding-money);
	padding-right: .3rem;
}

.order-six,
.order-seven,
.order-eight,
.order-nine {
	padding-right: var(--padding-money);
	padding-left: .3rem;
}

.order-one .Player--money,
.order-two .Player--money,
.order-three .Player--money,
.order-four .Player--money,
.order-five .Player--money {
	padding-left: var(--padding-money);
	padding-right: .3rem;
	left: 80%;
	right: initial;
}

.order-six .Player--money,
.order-seven .Player--money,
.order-eight .Player--money,
.order-nine .Player--money {
	padding-right: var(--padding-money);
	padding-left: .3rem;
	right: 80%;
	left: initial;
}

.order-one .Player--cards,
.order-two .Player--cards,
.order-three .Player--cards,
.order-four .Player--cards,
.order-five .Player--cards {
	right: 0;
	left: initial;
}

.order-six .Player--cards,
.order-seven .Player--cards,
.order-eight .Player--cards,
.order-nine .Player--cards {
	right: initial;
	left: 0;
}

.order-one .Player--lock,
.order-two .Player--lock,
.order-three .Player--lock,
.order-four .Player--lock,
.order-five .Player--lock {
	left: var(--lock-separation);
	right: initial;
}

.order-six .Player--lock,
.order-seven .Player--lock,
.order-eight .Player--lock,
.order-nine .Player--lock {
	right: var(--lock-separation);
	left: initial;
}

.order-six .Player--cards,
.order-seven .Player--cards,
.order-eight .Player--cards,
.order-nine .Player--cards {
	right: initial;
	left: 0;
}

.order-six .Player--cards>img:nth-child(2),
.order-seven .Player--cards>img:nth-child(2),
.order-eight .Player--cards>img:nth-child(2),
.order-nine .Player--cards>img:nth-child(2) {
	right: 50%;
	left: initial;
}

.order-six .Player--cards>img:nth-child(3),
.order-seven .Player--cards>img:nth-child(3),
.order-eight .Player--cards>img:nth-child(3),
.order-nine .Player--cards>img:nth-child(3) {
	right: 100%;
	left: initial;
}

.order-six .Player--cards>img:nth-child(4),
.order-seven .Player--cards>img:nth-child(4),
.order-eight .Player--cards>img:nth-child(4),
.order-nine .Player--cards>img:nth-child(4) {
	right: 150%;
	left: initial;
}

.order-six .Player--cards>img:nth-child(5),
.order-six .Player--cards>img:nth-child(5),
.order-six .Player--cards>img:nth-child(5),
.order-six .Player--cards>img:nth-child(5) {
	right: 200%;
	left: initial;
}

@media screen and (orientation: portrait) {
	.Table--info {
		top: 16%;
	}
}

@media screen and (orientation: landscape) {
	.order-one {
		top: 70%;
		left: -5%;
	}

	.order-two {
		top: initial;
		left: 20%;
		bottom: -5%;
	}

	.order-three {
		top: initial;
		left: 42.5%;
		bottom: -5%;
	}

	.order-four {
		top: initial;
		left: 75%;
		bottom: -5%;
	}

	.order-five {
		right: -5%;
		top: 70%;
		left: initial;
		bottom: initial;
	}

	.order-six {
		right: -5%;
		top: 20%;
		left: initial;
		bottom: initial;
	}

	.order-seven {
		padding-left: 0;
		padding-right: var(--padding-money);
		right: initial;
		left: 75%;
		top: -5%;
		bottom: initial;
	}

	.order-eight {
		top: -5%;
		left: 20%;
		right: initial;
	}

	.order-nine {
		top: 20%;
		left: -5%;
		right: initial;
	}

	.order-one,
	.order-two,
	.order-three,
	.order-eight,
	.order-nine {
		padding-left: var(--padding-money);
		padding-right: .3rem;
	}

	.order-four,
	.order-five,
	.order-seven {
		padding-right: var(--padding-money);
		padding-left: .3rem;
	}

	.order-one .Player--money,
	.order-two .Player--money,
	.order-three .Player--money,
	.order-eight .Player--money,
	.order-nine .Player--money {
		padding-left: var(--padding-money);
		padding-right: .3rem;
		left: 80%;
		right: initial;
	}

	.order-four .Player--money,
	.order-five .Player--money,
	.order-seven .Player--money {
		padding-right: var(--padding-money);
		padding-left: .3rem;
		right: 80%;
		left: initial;
	}

	.order-one .Player--cards,
	.order-two .Player--cards,
	.order-three .Player--cards,
	.order-eight .Player--cards,
	.order-nine .Player--cards {
		right: 0;
		left: initial;
	}

	.order-four .Player--cards,
	.order-five .Player--cards,
	.order-seven .Player--cards {
		right: initial;
		left: 0;
	}

	.order-one .Player--lock,
	.order-two .Player--lock,
	.order-three .Player--lock,
	.order-eight .Player--lock,
	.order-nine .Player--lock {
		left: var(--lock-separation);
		right: initial;
	}

	.order-four .Player--lock,
	.order-five .Player--lock,
	.order-seven .Player--lock {
		right: var(--lock-separation);
		left: initial;
	}

	.order-four .Player--cards,
	.order-five .Player--cards,
	.order-six .Player--cards,
	.order-seven .Player--cards {
		right: initial;
		left: 0;
	}

	.order-one .Player--cards,
	.order-two .Player--cards,
	.order-three .Player--cards,
	.order-eight .Player--cards,
	.order-nine .Player--cards {
		right: 0;
		left: initial;
	}

	.order-one .Player--cards>img:nth-child(2),
	.order-two .Player--cards>img:nth-child(2),
	.order-three .Player--cards>img:nth-child(2),
	.order-eight .Player--cards>img:nth-child(2),
	.order-nine .Player--cards>img:nth-child(2) {
		top: 10%;
		left: 50%;
	}

	.order-one .Player--cards>img:nth-child(3),
	.order-two .Player--cards>img:nth-child(3),
	.order-three .Player--cards>img:nth-child(3),
	.order-eight .Player--cards>img:nth-child(3),
	.order-nine .Player--cards>img:nth-child(3) {
		top: 20%;
		left: 100%;
	}

	.order-one .Player--cards>img:nth-child(4),
	.order-two .Player--cards>img:nth-child(4),
	.order-three .Player--cards>img:nth-child(4),
	.order-eight .Player--cards>img:nth-child(4),
	.order-nine .Player--cards>img:nth-child(4) {
		top: 30%;
		left: 150%;
	}

	.order-one .Player--cards>img:nth-child(5),
	.order-two .Player--cards>img:nth-child(5),
	.order-three .Player--cards>img:nth-child(5),
	.order-eight .Player--cards>img:nth-child(5),
	.order-nine .Player--cards>img:nth-child(5) {
		top: 40%;
		left: 200%;
	}

	.order-four .Player--cards>img:nth-child(2),
	.order-five .Player--cards>img:nth-child(2),
	.order-six .Player--cards>img:nth-child(2),
	.order-seven .Player--cards>img:nth-child(2) {
		right: 50%;
		left: initial;
	}

	.order-four .Player--cards>img:nth-child(3),
	.order-five .Player--cards>img:nth-child(3),
	.order-six .Player--cards>img:nth-child(3),
	.order-seven .Player--cards>img:nth-child(3) {
		right: 100%;
		left: initial;
	}

	.order-four .Player--cards>img:nth-child(4),
	.order-five .Player--cards>img:nth-child(4),
	.order-six .Player--cards>img:nth-child(4),
	.order-seven .Player--cards>img:nth-child(4) {
		right: 150%;
		left: initial;
	}

	.order-four .Player--cards>img:nth-child(5),
	.order-five .Player--cards>img:nth-child(5),
	.order-six .Player--cards>img:nth-child(5),
	.order-seven .Player--cards>img:nth-child(5) {
		right: 200%;
		left: initial;
	}
}

@media (max-width: 812px) and (max-height: 414px) {

	.order-two,
	.order-three,
	.order-four {
		bottom: -10%;
	}

	.order-seven,
	.order-eight {
		top: -10%;
	}
}

@media (min-width: 1024px) and (orientation: portrait) {
	.order-one {
		left: -5%;
		top: 5%;
		right: initial;
	}

	.order-two {
		bottom: initial;
		left: -15%;
		top: 30%;
	}

	.order-three {
		bottom: initial;
		left: -15%;
		top: 60%;
	}

	.order-four {
		left: -5%;
		top: initial;
		right: initial;
		bottom: 10%;
	}

	.order-five {
		right: 40%;
		top: initial;
		left: initial;
		bottom: -5%;
	}

	.order-six {
		right: -5%;
		top: initial;
		left: initial;
		bottom: 10%;
	}

	.order-seven {
		right: -15%;
		left: initial;
		top: 60%;
	}

	.order-eight {
		right: -15%;
		left: initial;
		top: 30%;
	}

	.order-nine {
		right: -5%;
		top: 5%;
		left: initial;
	}
}


/* Tokens Orders */
@media (min-width: 768px) and (min-height: 1024px) and (orientation: portrait) {
	.Table--info {
		top: 22%;
	}

	.order-one .Player--tokens {
		bottom: -75%;
	}

	.order-nine .Player--tokens {
		bottom: -70%;
	}

	.order-two .Player--tokens,
	.order-three .Player--tokens,
	.order-seven .Player--tokens,
	.order-eight .Player--tokens {
		top: 60%;
	}

	.order-one .Player--tokens {
		right: -100%;
	}

	.order-nine .Player--tokens {
		left: -100%;
	}

	.order-two .Player--tokens,
	.order-three .Player--tokens {
		right: -125%;
	}

	.order-seven .Player--tokens,
	.order-eight .Player--tokens {
		left: -125%;
	}

	.order-four .Player--tokens,
	.order-six .Player--tokens {
		top: -30%;
	}

	.order-four .Player--tokens {
		right: -95%;
	}

	.order-six .Player--tokens {
		left: -95%;
	}

	.order-five .Player--tokens {
		top: -120%;
		left: 29%;

	}
}

@media (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
	.Table--info {
		top: 16%;
	}

	.order-one .Player--tokens {
		bottom: 10%;
	}

	.order-nine .Player--tokens {
		bottom: 15%;
	}

	.order-two .Player--tokens,
	.order-three .Player--tokens,
	.order-seven .Player--tokens,
	.order-eight .Player--tokens {
		top: 60%;
	}

	.order-one .Player--tokens {
		right: -160%;
	}

	.order-nine .Player--tokens {
		left: -160%;
	}

	.order-two .Player--tokens,
	.order-three .Player--tokens {
		right: -185%;
	}

	.order-seven .Player--tokens,
	.order-eight .Player--tokens {
		left: -185%;
	}

	.order-four .Player--tokens,
	.order-six .Player--tokens {
		top: -30%;
	}

	.order-four .Player--tokens {
		right: -155%;
	}

	.order-six .Player--tokens {
		left: -155%;
	}

	.order-five .Player--tokens {
		top: -140%;
		left: 40%;
	}
}

@media (max-height: 667px) and (max-width: 375px) {

	.order-one .Player--tokens {
		bottom: 10%;
	}

	.order-nine .Player--tokens {
		bottom: 15%;
	}

	.order-two .Player--tokens,
	.order-three .Player--tokens,
	.order-seven .Player--tokens,
	.order-eight .Player--tokens {
		top: 40%;
	}

	.order-one .Player--tokens {
		right: -140%;
	}

	.order-nine .Player--tokens {
		left: -140%;
	}

	.order-two .Player--tokens,
	.order-three .Player--tokens {
		right: -150%;
	}

	.order-seven .Player--tokens,
	.order-eight .Player--tokens {
		left: -150%;
	}

	.order-four .Player--tokens,
	.order-six .Player--tokens {
		top: -30%;
	}

	.order-four .Player--tokens {
		right: -135%;
	}

	.order-six .Player--tokens {
		left: -135%;
	}

	.order-five .Player--tokens {
		top: -120%;
		left: 40%;
	}
}

@media (max-height: 823px) and (max-width: 411px) {

	.order-one .Player--tokens {
		bottom: 12%;
	}

	.order-nine .Player--tokens {
		bottom: 18%;
	}

	.order-two .Player--tokens,
	.order-three .Player--tokens,
	.order-seven .Player--tokens,
	.order-eight .Player--tokens {
		top: 60%;
	}

	.order-one .Player--tokens {
		right: -140%;
	}

	.order-nine .Player--tokens {
		left: -140%;
	}

	.order-two .Player--tokens,
	.order-three .Player--tokens {
		right: -145%;
	}

	.order-seven .Player--tokens,
	.order-eight .Player--tokens {
		left: -145%;
	}

	.order-four .Player--tokens,
	.order-six .Player--tokens {
		top: -30%;
	}

	.order-four .Player--tokens {
		right: -115%;
	}

	.order-six .Player--tokens {
		left: -115%;
	}

	.order-five .Player--tokens {
		top: -110%;
		left: 40%;
	}
}

@media (max-height: 736px) and (max-width: 414px) {

	.order-one .Player--tokens {
		bottom: 0%;
	}

	.order-nine .Player--tokens {
		bottom: 7%;
	}

	.order-two .Player--tokens,
	.order-three .Player--tokens,
	.order-seven .Player--tokens,
	.order-eight .Player--tokens {
		top: 40%;
	}

	.order-one .Player--tokens {
		right: -190%;
	}

	.order-nine .Player--tokens {
		left: -190%;
	}

	.order-two .Player--tokens,
	.order-three .Player--tokens {
		right: -190%;
	}

	.order-seven .Player--tokens,
	.order-eight .Player--tokens {
		left: -190%;
	}

	.order-four .Player--tokens,
	.order-six .Player--tokens {
		top: -30%;
	}

	.order-four .Player--tokens {
		right: -175%;
	}

	.order-six .Player--tokens {
		left: -175%;
	}

	.order-five .Player--tokens {
		top: -140%;
		left: 45%;
	}
}

@media (max-height: 960px) and (max-width: 600px) {
	.order-one .Player--tokens {
		bottom: 0%;
	}

	.order-nine .Player--tokens {
		bottom: 7%;
	}

	.order-two .Player--tokens,
	.order-three .Player--tokens,
	.order-seven .Player--tokens,
	.order-eight .Player--tokens {
		top: 40%;
	}

	.order-one .Player--tokens {
		right: -140%;
	}

	.order-nine .Player--tokens {
		left: -140%;
	}

	.order-two .Player--tokens,
	.order-three .Player--tokens {
		right: -150%;
	}

	.order-seven .Player--tokens,
	.order-eight .Player--tokens {
		left: -150%;
	}

	.order-four .Player--tokens,
	.order-six .Player--tokens {
		top: -30%;
	}

	.order-four .Player--tokens {
		right: -125%;
	}

	.order-six .Player--tokens {
		left: -125%;
	}

	.order-five .Player--tokens {
		top: -120%;
		left: 25%;
	}
}




/* Landscape */

@media screen and (orientation: landscape) {

	.order-one .Player--tokens,
	.order-five .Player--tokens {
		top: -60%;
	}

	.order-one .Player--tokens,
	.order-nine .Player--tokens {
		right: -180%;
	}

	.order-five .Player--tokens,
	.order-six .Player--tokens {
		left: -180%;
	}

	.order-six .Player--tokens,
	.order-nine .Player--tokens {
		bottom: -45%;
	}

	.order-two .Player--tokens,
	.order-three .Player--tokens,
	.order-four .Player--tokens {
		top: -90%;
	}

	.order-two .Player--tokens,
	.order-eight .Player--tokens {
		right: -80%;
	}

	.order-three .Player--tokens {
		right: -50%;
	}

	.order-four .Player--tokens,
	.order-seven .Player--tokens {
		left: -80%;
	}

	.order-seven .Player--tokens,
	.order-eight .Player--tokens {
		bottom: -90%;
	}
}

@media (max-width: 823px) and (max-height: 411px) {

	.order-one .Player--tokens,
	.order-five .Player--tokens {
		top: -60%;
	}

	.order-one .Player--tokens,
	.order-nine .Player--tokens {
		right: -170%;
	}

	.order-five .Player--tokens,
	.order-six .Player--tokens {
		left: -170%;
	}

	.order-six .Player--tokens,
	.order-nine .Player--tokens {
		bottom: -25%;
	}

	.order-two .Player--tokens,
	.order-three .Player--tokens,
	.order-four .Player--tokens {
		top: -100%;
	}

	.order-two .Player--tokens,
	.order-eight .Player--tokens {
		right: -60%;
	}

	.order-three .Player--tokens {
		right: -35%;
	}

	.order-four .Player--tokens,
	.order-seven .Player--tokens {
		left: -65%;
	}

	.order-seven .Player--tokens,
	.order-eight .Player--tokens {
		bottom: -100%;
	}
}

@media (max-width: 736px) and (max-height: 414px) {

	.order-nine .Player--tokens,
	.order-six .Player--tokens,
	.order-seven .Player--tokens,
	.order-eight .Player--tokens {
		top: initial;
		left: initial;
	}

	.order-one .Player--tokens,
	.order-five .Player--tokens {
		top: -60%;
		bottom: initial;
	}

	.order-one .Player--tokens,
	.order-nine .Player--tokens {
		right: -140%;
	}

	.order-five .Player--tokens,
	.order-six .Player--tokens {
		left: -140%;
	}

	.order-six .Player--tokens,
	.order-nine .Player--tokens {
		bottom: -25%;
	}

	.order-two .Player--tokens,
	.order-three .Player--tokens,
	.order-four .Player--tokens {
		top: -85%;
	}

	.order-two .Player--tokens,
	.order-eight .Player--tokens {
		right: -60%;
	}

	.order-three .Player--tokens {
		right: -35%;
	}

	.order-four .Player--tokens,
	.order-seven .Player--tokens {
		left: -65%;
	}

	.order-seven .Player--tokens,
	.order-eight .Player--tokens {
		bottom: -85%;
	}
}

@media (max-width: 667px) and (max-height: 375px) {

	.order-one .Player--tokens,
	.order-five .Player--tokens {
		top: -60%;
	}

	.order-one .Player--tokens,
	.order-nine .Player--tokens {
		right: -150%;
	}

	.order-five .Player--tokens,
	.order-six .Player--tokens {
		left: -150%;
	}

	.order-six .Player--tokens,
	.order-nine .Player--tokens {
		bottom: -25%;
	}

	.order-two .Player--tokens,
	.order-three .Player--tokens,
	.order-four .Player--tokens {
		top: -100%;
	}

	.order-two .Player--tokens,
	.order-eight .Player--tokens {
		right: -60%;
	}

	.order-three .Player--tokens {
		right: -35%;
	}

	.order-four .Player--tokens,
	.order-seven .Player--tokens {
		left: -65%;
	}

	.order-seven .Player--tokens,
	.order-eight .Player--tokens {
		bottom: -100%;
	}
}

@media (max-width: 568px) and (max-height: 320px) {

	.order-one .Player--tokens,
	.order-five .Player--tokens {
		top: -60%;
	}

	.order-one .Player--tokens,
	.order-nine .Player--tokens {
		right: -120%;
	}

	.order-five .Player--tokens,
	.order-six .Player--tokens {
		left: -120%;
	}

	.order-six .Player--tokens,
	.order-nine .Player--tokens {
		bottom: -25%;
	}

	.order-two .Player--tokens,
	.order-three .Player--tokens,
	.order-four .Player--tokens {
		top: -80%;
	}

	.order-two .Player--tokens,
	.order-eight .Player--tokens {
		right: -35%;
	}

	.order-three .Player--tokens {
		right: -35%;
	}

	.order-four .Player--tokens,
	.order-seven .Player--tokens {
		left: -65%;
	}

	.order-seven .Player--tokens,
	.order-eight .Player--tokens {
		bottom: -80%;
	}

}

@media screen and (min-width: 1920px) {

	.order-one .Player--tokens,
	.order-five .Player--tokens {
		top: -60%;
	}

	.order-one .Player--tokens,
	.order-nine .Player--tokens {
		right: -320%;
	}

	.order-five .Player--tokens,
	.order-six .Player--tokens {
		left: -320%;
	}

	.order-six .Player--tokens,
	.order-nine .Player--tokens {
		bottom: -45%;
	}

	.order-two .Player--tokens,
	.order-three .Player--tokens,
	.order-four .Player--tokens {
		top: -200%;
	}

	.order-two .Player--tokens,
	.order-eight .Player--tokens {
		right: -80%;
	}

	.order-three .Player--tokens {
		right: -50%;
	}

	.order-four .Player--tokens,
	.order-seven .Player--tokens {
		left: -80%;
	}

	.order-seven .Player--tokens,
	.order-eight .Player--tokens {
		bottom: -200%;
	}
}
