html,
body {
    height: 100%;
}

.Scroll {
    height:600px;
    overflow-y: scroll;
}     

@media (max-width: 768px) {
    .transformed{
        /* idéntico a rotateZ(45deg); */
        transform: rotate(90deg);
        margin-top: 160px;
    }
    
    @media (orientation : landscape) { 
        .transformed{
            transform: rotate(0deg);
            margin-top: 0px;
        }
    } 
}

.Scroll::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

.Scroll::-webkit-scrollbar-track {
  background: #DDD5D5;        /* color of the tracking area */
  border-radius: 20px;
}

.Scroll::-webkit-scrollbar-thumb {
  background-color: #7E8180;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #DDD5D5;  /* creates padding around scroll thumb */
}

.menu-toggle{
    border: 1.5px solid white;
    border-radius: 5px; 
}

.bet h3{
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
}

.bet span{
    color: white;
    font-size: 14px;
    font-weight: 500;
}

@media (min-height: 1600px) {
    .bet h3{
        font-size: 38px;
    }
    .bet span{
        font-size: 30px;
    }
}

.bet2{
    gap: 5%;
}

.bet3{
    gap: 3%;
}

@media (min-height: 1600px) {
    .bet3{
        gap: 3%;
    }
}


.bet-buttons button{
    width: 120px;
    height: 40px;
    font-weight: 700;
    font-size: 14px;
}

@media (min-height: 1600px) {
    .bet-buttons button{
        width: 180px;
        height: 80px;
        font-weight: 700;
        font-size: 28px;
    }
}

@media (max-width: 768px) {
    .bet-buttons button{
        margin-bottom: 3%;
    }
}

@media (max-width: 768px) {
    .bet-buttons{
        margin-top: 180px;
    }
    @media (orientation : landscape) { 
        .bet-buttons{
            margin-top: 0%;
        }
    } 
}

@media (max-width: 500px) {
    .bet-buttons{
        margin-top: 90px;
    }

    @media (orientation : landscape) { 
        .bet-buttons{
            margin-top: 0%;
        }
    } 
}


@media (max-width: 600px) {
    .bet-buttons{
        margin-top: 100px;
    }
    @media (orientation : landscape) { 
        .bet-buttons{
            margin-top: 0%;
        }
    } 
}

@media (min-width: 500px) {
    @media (orientation : landscape) { 
        .bet-buttons{
            margin-top: 0%;
        }
    }
}

@media (orientation : landscape) { 
    .bet-buttons{
        display: flex;
    }
}



.stadistics button{
    width: 139px;
    height: 41px;
    background-color: white;
    border: none;
    margin-bottom: 3%;
    color: #475569;
    font-size: 12px;
}

@media (min-height: 1600px) {
    .stadistics button{
        width: 280px;
        height: 82px;
        font-weight: 700;
        font-size: 28px;
    }
}

.stadistics button:hover{
    background-color: rgb(212, 211, 211);
    color: #475569;
}

.menu-toggle{
    color: white;
    font-size: 13px;
    height: 213px;
    width: 139px;
}

@media (min-height: 1600px) {
    .menu-toggle{
        width: 280px;
        height: 325px;
        font-weight: 500;
        font-size: 28px;
    }
}

.img-table{
    width: 100%;
}

@media (max-width: 600px) and (orientation: landscape) { 
    .img-table{
        width: 60%;
    }
}

@media (max-width: 655px) and (orientation: landscape) { 
    .img-table{
        width: 50%;
    }
}


@media (min-width: 660px) and (orientation: landscape) { 
    .img-table{
        width: 70%;
    }
}

@media (min-width: 800px) and (orientation: landscape) { 
    .img-table{
        width: 60%;
    }
}

@media (min-width: 1280px) and (orientation: landscape) { 
    .img-table{
        width: 95%;
    }
}

@media (min-height: 768px) and (orientation: landscape) { 
    .poker-table{
        margin-top: 110px;
    }
}

@media (min-height: 900px) and (orientation: landscape) { 
    .poker-table{
        margin-top: 0px;
    }
}


@media (max-width: 360px) { 
    .poker-table{
        margin-top: -60px;
    }
}

@media (max-width: 320px) { 
    .poker-table{
        margin-top: -114px;
    }
}

@media (max-width: 290px) { 
    .poker-table{
        margin-top: 15px;
    }
}

@media (min-height: 1300px) { 
    .poker-table{
        margin-top: 300px;
    }
}

@media (min-width: 1300px) and (orientation: landscape) { 
    .poker-table{
        margin-top: 0px;
    }
}

/* @media (min-height: 1280px) and (min-width: 950px) {
    .poker-table{
        margin-top: 0px;
    }
} */

/* 
.preflop{
    width: 100%;
} */

/* .hero{
    width: 80%;
}

@media (max-height: 1100px) and (orientation: landscape) { 
    .hero{
        font-size: 80%;
    }
} */
/* 
.utg{
    width: 75%;
}

@media (max-height: 1100px) and (orientation: landscape) { 
    .utg{
        font-size: 80%;
    }
} */

.correct{
    width: 75%;
}

@media (max-height: 1100px) and (orientation: landscape) { 
    .correct{
        font-size: 80%;
    }
}

.dropdown-toggle::after {
    content: none;
}

.hamburguer{
    border: none;
    background-color: white;
    border-radius: 50%;
    width: 122%;
    padding: 4px;
    height: 34px;
    margin-top: 8px;
}

.hamburguer:hover{
    background-color: white;
    border: none;
}

.btn-secondary.focus, .btn-secondary:focus {
    background-color: white;
    border: none;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    background-color: white;
    border: none;
}

.second{
    transform: translate3d(-155px, 42px, 0px);
}

@media (min-width: 1800px) { 
    .cartas{
        display: flex;
    }
}

.img-card{
    width: 54px;
    height: 72px;
}

@media (max-width: 1800px) { 
    .img-card {
        width: 38px;
        margin-right: 2%;
    }
}

@media (min-width: 1800px) { 
    .img-card {
        width: 67px;
    }
}

@media (min-width: 3000px) { 
    .img-card {
        width: 90px;
    }
}


[aria-expanded="false"] > .expanded,
[aria-expanded="true"] > .collapsed {
  display: none;
} 
