html,
body {
    height: 100%;
}

.Scroll {
    height:600px;
    overflow-y: scroll;
}     

@media (max-width: 768px) {
    .transformed{
        /* idéntico a rotateZ(45deg); */
        transform: rotate(90deg);
        margin-top: 160px;
    }
    
    @media (orientation : landscape) { 
        .transformed{
            transform: rotate(0deg);
            margin-top: 0px;
        }
    } 
}

.Scroll::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

.Scroll::-webkit-scrollbar-track {
  background: #DDD5D5;        /* color of the tracking area */
  border-radius: 20px;
}

.Scroll::-webkit-scrollbar-thumb {
  background-color: #7E8180;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #DDD5D5;  /* creates padding around scroll thumb */
}

.menu-toggle{
    border: 1.5px solid white;
    border-radius: 5px; 
}

.bet h3{
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
}

.bet2{
    gap: 5%;
}

.bet3{
    gap: 2%;
}

.bet-buttons button{
    width: 120px;
    height: 40px;
    font-weight: 700;
    font-size: 14px;
}

@media (max-width: 768px) {
    .bet-buttons button{
        margin-bottom: 3%;
    }
}

@media (max-width: 768px) {
    .bet-buttons{
        margin-top: 180px;
    }
    @media (orientation : landscape) { 
        .bet-buttons{
            margin-top: 0%;
        }
    } 
}

@media (max-width: 500px) {
    .bet-buttons{
        margin-top: 90px;
    }

    @media (orientation : landscape) { 
        .bet-buttons{
            margin-top: 0%;
        }
    } 
}


@media (max-width: 600px) {
    .bet-buttons{
        margin-top: 100px;
    }
    @media (orientation : landscape) { 
        .bet-buttons{
            margin-top: 0%;
        }
    } 
}

@media (min-width: 500px) {
    @media (orientation : landscape) { 
        .bet-buttons{
            margin-top: 0%;
        }
    }
}

.stadistics button{
    width: 139px;
    height: 41px;
    background-color: white;
    border: none;
    margin-bottom: 3%;
    color: #475569;
    font-size: 12px;
}

.stadistics button:hover{
    background-color: rgb(212, 211, 211);
    color: #475569;
}

.menu-toggle{
    color: white;
    font-size: 13px;
    height: 213px;
    width: 145px;
}

.img-table{
    width: 100%;
}

@media (max-width: 600px) and (orientation: landscape) { 
    .img-table{
        width: 60%;
    }
}

@media (max-width: 655px) and (orientation: landscape) { 
    .img-table{
        width: 50%;
    }
}


@media (min-width: 660px) and (orientation: landscape) { 
    .img-table{
        width: 70%;
    }
}

@media (min-width: 800px) and (orientation: landscape) { 
    .img-table{
        width: 60%;
    }
}

@media (min-width: 1280px) and (orientation: landscape) { 
    .img-table{
        width: 100%;
    }
}

@media (min-width: 1024px) and (orientation: landscape) { 
    .poker-table{
        margin-top: 110px;
    }
}

@media (max-width: 360px) { 
    .poker-table{
        margin-top: -60px;
    }
}

@media (max-width: 320px) { 
    .poker-table{
        margin-top: -114px;
    }
}

@media (max-width: 290px) { 
    .poker-table{
        margin-top: 15px;
    }
}

@media (min-height: 1300px) { 
    .poker-table{
        margin-top: 300px;
    }
}

@media (min-width: 1300px) and (orientation: landscape) { 
    .poker-table{
        margin-top: 0px;
    }
}

.img-card{
    width: 40%;
}

.preflop{
    width: 100%;
}

.hero{
    width: 80%;
}

@media (max-height: 1100px) and (orientation: landscape) { 
    .hero{
        font-size: 80%;
    }
}

.utg{
    width: 75%;
}

@media (max-height: 1100px) and (orientation: landscape) { 
    .utg{
        font-size: 80%;
    }
}

.correct{
    width: 65%;
}

@media (max-height: 1100px) and (orientation: landscape) { 
    .correct{
        font-size: 80%;
    }
}