.HandHistory {
	position: absolute;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 9999;
	overflow-y: auto;
	background-image: url(/img/backgroundMobile.png);
	background-repeat: no-repeat;
	background-size: cover;
	transition: all .5s;
	padding: 1rem;
	scrollbar-color: #ddd5d5 #7e8180;
	transform: translateX(-100%);
}

.HandHistory.show {
	transform: none;
}

.HandHistory::-webkit-scrollbar {
	border-radius: 5px;
	padding: 5px;
	width: 8px;
	background-color: #ddd5d5;
}

.HandHistory::-webkit-scrollbar-thumb {
	background-color: #7e8180;
	border-radius: 5px;
}



.HandHistory--close-container {
	display: grid;
	align-items: center;
	box-sizing: content-box;
	padding-bottom: 2rem;
	gap: 1rem;
	position: relative;
}

.HandHistory--close {
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	border-radius: 50%;
	padding: 0.5rem;
	background-color: #fff;
}

.HandHistory--close__icon {
	width: 1.25rem;
}

.HandHistory__title {
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 1.2rem;
	font-weight: bold;
	align-self: center;
}

@media screen and (min-width: 1280px) {
	.HandHistory {
		padding: 0 1rem;
		height: calc(100vh - 60px - 1rem);
		position: initial;
		width: 25%;
		min-width: 300px;
		max-width: 380px;
		background: transparent;
		transform: none;
	}

	.HandHistory--close-container,
	.HandHistory__title {
		display: none;
	}
}

@media (orientation: landscape) and (min-width: 1024px) {
	.HHNameGame {
		display: none;
	}
}

@media (orientation: portrait) and (min-width: 1024px) {
	.HHNameGame {
		display: block;
	}

}
